@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
	font-family: "Outfit", serif;
}

@theme {
	--color-primary: #4fbf8b;
	--color-primary-dull: #44ae7c;
}

/* Custom Styles */
@layer components {
	.gridCustom {
		@apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3 md:gap-6 mt-6;
	}
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
